.navbg{
    background-image: url(/static/img/mountain-984083_1920.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.aboutbg{
    background-color: #e9f2f2;
}
.projectbg{
    background-color: #061021;
}
.sksbg{
    background-color: #c3d4cd;
}
.footerbg{
    background-color: #0f0f0f;
}

body{
    overflow-x: hidden;
}
.cds-btn{
     display: flex; justify-content: center;
}
.cdimg:hover{
    transform:scale(1.1);
    transition: transform 0.4s;

}





@media only screen and (max-width:768px) {
    /* bg title */
    .bg-title{
        text-align: center;
        margin-top: 150px;
        
    }
    .bg-title h2{
        font-size: 35px;
        font-weight: bold;
    }
    .bg-title h3{
        font-size: 20px;
        letter-spacing: 1px;
    }
    /* end bg-title */
     /* propic */
   .propic{
    width: 180px;
    height: 180px;
}
    /* am-txt */
    .am-txt{
        font-size: 30px;
        font-weight: bold;
    }
    .am-mk{
        text-align: center;
    }
    .am-deta{
        font-size: 13px;
    }
    .am-btn{
        display: flex; justify-content: center;
    }
    .navbg{
        height: 80vh;
    }
    .navbar-brand{
        font-size: 18px;
        letter-spacing: 1px;
    }
    .abticon{
        font-size: 25px;
       
    }
    .cds{
        width: 280px;
        margin-top: 20px;
        
    }
    .cdimg{
        width: 280px;
        height: 150px;
    }
    .prj-txt{
        font-size: 30px;
        font-weight: bold;
    
    }
    .sks-titles{
        font-size: 25px;
    }
    .sks-data{
        font-size: 14px;
        font-weight: 300;
    }
    .sks-titles{
        font-weight: bold;
        font-size: 25px;
    }
    .sks-txt{
        font-size: 30px;
        font-weight: bold;
    
    }
    .sks-adjs{
        padding-top: 1px;
        padding-bottom: 10px;
    }
    .foot-titles{
        font-weight: bold;
        font-size: 25px;
        padding-top: 20px;
    
    }
    .foot-adj{
        padding-bottom: 50px;
    }
    .foot-data{
        font-size: 14px;
    }
    
    
    
    
    
    
    

}
@media only screen and (min-width:768px) {
    /* bg-title */
    .bg-title{
        text-align: right;
        margin-top: 150px;
    }
    .bg-title h2{
        font-size: 50px;
        font-weight: bold;
    }
    .bg-title h3{
        font-size: 30px;
        letter-spacing: 2px;
    }
     /* propic */
   .propic{
    width: 200px;
    height: 200px;
}
    /* end bg-title */

    /* am-txt */
    .am-mk{
        text-align: justify;
    }
    .am-txt{
        font-size: 35px;
        font-weight: bold;
    }
    .am-deta{
        font-size: 15px;
    }
    .am-btn{
        display: flex; justify-content: left;
    }
    .navbg{
        height: 85vh;
    }
    .navbar-brand{
        font-size: 20px;
        letter-spacing: 1px;
    }
    .abticon{
        font-size: 30px;
       
    }
    .cds{
        width: 230px;
        
    }
    .cdimg{
        width: 230px;
        height: 150px;
    }
    .prj-txt{
        font-size: 35px;
        font-weight: bold;
    
    }
    .sks-data{
        font-size: 15px;
        font-weight: 400;
    }
    .sks-titles{
        font-weight: bold;
        font-size: 25px;
    }
    .sks-txt{
        font-size: 35px;
        font-weight: bold;
    
    }
    .sks-adjs{
        padding-top: 1px;
        padding-bottom: 10px;
    }
    .foot-titles{
        font-weight: bold;
        font-size: 25px;
    
    }
    .foot-adj{
        padding-bottom: 50px;
    }
    .foot-data{
        font-size: 14px;
    }
    
    
    
    
    
    
    
    
    
    
    

}
@media only screen and (min-width:992px) {
    /* bg-title */
    .bg-title{
        text-align: right;
        margin-top: 220px;
    }
    .bg-title h2{
        font-size: 60px;
        font-weight: bold;
    }
    .bg-title h3{
        font-size: 40px;
        letter-spacing: 3px;
    }
    /* end bg-title */

    /* propic */
   .propic{
       width: 250px;
       height: 250px;
   }

   /* am-txt */
   .am-txt{
    font-size: 40px;
    font-weight: bold;
    color: #262626;
}

.am-deta{
    font-size: 16px;
}
.navbg{
    height: 100vh;
}
.navbar-brand{
    font-size: 25px;
    letter-spacing: 1px;
}
.abticon{
    font-size: 37px;
   
}
.cds{
    width: 300px;
}
.cdimg{
    width: 300px;
    height: 200px;
    
}
.prj-txt{
    font-size: 40px;
    font-weight: bold;

}
.sks-data{
    font-size: 17px;
    font-weight: 500;
}
.sks-titles{
    font-weight: bold;
    font-size: 30px;
}
.sks-txt{
    font-size: 40px;
    font-weight: bold;

}
.sks-adjs{
    padding-top: 2px;
    padding-bottom: 20px;
}
.foot-titles{
    font-weight: bold;
    font-size: 30px;

}
.foot-adj{
    padding-bottom: 100px;
}
.foot-data{
    font-size: 17px;
}



}

.c-icon{
    animation: shakeX;
    animation-iteration-count: infinite;
    animation-duration: 2.5s;
}